<%= form_with(model: @comment, url: post_comments_path(id: @comment.id, post_id: post.id)) do |form| %>
<div class="row">
	<div class="col-9">
		<%= form.text_field :text, placeholder: 'Add comment here', class: 'form-control' %>
	</div>
	<div class="col-3">
		<%= form.submit 'Add Comment', class: 'btn btn-primary' %>
	</div>
</div>
<% end %>
