<%= form_with(model: [post, @comment], url: post_comments_path(post_id: post)) do |form| %>
<div class="row">
	<div class="col-9">
		<%= form.text_field :text, placeholder: 'Add comment here', class: 'form-control' %>
	</div>
	<div class="col-3">
		<%= form.submit 'Add Comment', class: 'btn btn-outline-primary'%>
	</div>
</div>
<% end %>
