<div class="row">
	<div class="col-3">
		<span class="fw-bold">Add Comment:</span>
	</div>
	<div class="col-9" id="comment-form">
		<%= render partial: 'comments/comment_form', locals: {post: post} %>
	</div>
</div>
<div id="post-<%= post.id %>-comments">
	<% if post.comments.exists? %>
		<span class="fw-bold"><%= post.comments.count %> Comments</span>
	<% end %>
	<%= render partial: 'comments/comments', collection: post.comments, as: :comment, locals: { post: post } %>
</div>