<div class="main">
	<div class="header text-center bg-dark">
		<%= link_to('#', class: 'btn btn-outline-primary text-light float-end mt-2 me-2', data: { bs_toggle: 'modal', bs_target: '#new_post_modal'}) do %>
			Create Post
		<% end %>
		<h1 class="text-light">Blogs</h1>	
	</div>
	<div class="container blogs">
		<% if @posts.present? %>
			<%= render partial: 'post_detail', collection: @posts, as: :post %>
		<% else %>
			<h2>There are currently no posts!!</h2>
		<% end %>
	</div>
	<%= render partial: 'new_post_form_modal' %>
</div>